@mixin image($img, $size: cover) {
	background-image: url('#{$path-img}#{$img}.jpg');
	background-size: $size;
}

@mixin font-face($font-family) {
	@import url('#{$path-font}#{$font-family}');
}

@mixin font($font-size, $l-height: null, $weight: null, $l-spacing: null) {
	font-size: $font-size;
	line-height: $l-height;
	font-weight: $weight;
	letter-spacing: $l-spacing;
}


@mixin transition($property, $duration: 3s, $timing: ease-in-out, $delay: null) {
	-moz-transition:    $duration, $property, $timing, $delay;
    -o-transition:      $duration, $property, $timing, $delay;
    -webkit-transition: $duration, $property, $timing, $delay;
    transition:         $duration, $property, $timing, $delay;
}


@mixin flexbox($flex-direction: row, $justify-content: null, $display: flex) {
	
	display: $display;

	@if $flex-direction == row-reverse {
		-webkit-box-direction: reverse;
		-webkit-box-orient: horizontal;
	} @else if $flex-direction == column {
		-webkit-box-direction: normal;
		-webkit-box-orient: vertical;
	} @else if $flex-direction == column-reverse {
		-webkit-box-direction: reverse;
		-webkit-box-orient: vertical;
	} @else {
		-webkit-box-direction: normal;
		-webkit-box-orient: horizontal;
	}
	-webkit-flex-direction: $flex-direction;
	   -moz-flex-direction: $flex-direction;
	    -ms-flex-direction: $flex-direction;
	        flex-direction: $flex-direction;

	      -webkit-box-pack: $justify-content;
  	    	 -ms-flex-pack: $justify-content;
  	       justify-content: $justify-content;
}

@mixin flex($grow, $basis, $align: null) {
	-webkit-box-flex: $grow;
	        -ms-flex: $grow $basis;
	            flex: $grow $basis;
}

@mixin align($align) {
	-ms-flex-item-align: $align;
      	  	 align-self: $align;
}




