@include font-face('Pacifico');
@include font-face('Eczar');


body {
  font-family: $stack-pacifico;
  color: $white;
}

.header {
  text-align: left;
}

#time {
  font-family: $stack-brush; 
}

.clock {
  @extend %centered;
}

.clock h1 {
  @include font(80px);
  text-shadow: 2px 2px 2px $black;
}

.header button {
  text-shadow: 1px 1px 1px $black;
  letter-spacing: 2px;
}

#sessiontext {
  @extend %centered;
}


.header-button {
  color: white;
  font-family: $stack-pacifico;
  font-size: 22px;
}

.sub, .timeset, .add, .subbreak, .breakset, .addbreak  {
  color: white;
  font-family: $stack-pacifico;
  font-size: 22px;
}







